<a href="https://colab.research.google.com/github/astha-29/ML/blob/master/project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [439]:
df= pd.read_csv('admission.csv')
df

     Serial No.  GRE Score  TOEFL Score  ...  CGPA  Research  Chance of Admit
0             1        337          118  ...  9.65         1              0.92
1             2        324          107  ...  8.87         1              0.76
2             3        316          104  ...  8.00         1              0.72
3             4        322          110  ...  8.67         1              0.80
4             5        314          103  ...  8.21         0              0.65
..          ...        ...          ...  ...   ...       ...               ...
395         396        324          110  ...  9.04         1              0.82
396         397        325          107  ...  9.11         1              0.84
397         398        330          116  ...  9.45         1              0.91
398         399        312          103  ...  8.78         0              0.67
399         400        333          117  ...  9.66         1              0.95

[400 rows x 9 columns]

In [453]:
x=df.iloc[:,0:8].values
y=df.iloc[:,8].values

In [454]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.3,random_state =3)

In [455]:
x_train.shape

(280, 8)

In [456]:
x_test.shape

(120, 8)

In [457]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x_train,y_train)
y_pred = model.predict(x_test)
y_pred

array([0.49200235, 0.67541611, 0.86322521, 0.83881214, 0.91113502,
       0.82627321, 0.82626671, 0.51903672, 0.70505511, 0.64271681,
       0.87511976, 0.68699238, 0.52188026, 0.64772457, 0.72384757,
       0.75744726, 0.51513639, 0.84486822, 0.71398009, 0.64851975,
       0.64062559, 0.79065785, 0.60825211, 0.82314353, 0.78391985,
       0.93928531, 0.65830946, 0.84137298, 0.78814807, 0.92317859,
       0.86242868, 0.86657182, 0.77621366, 0.80365676, 0.87658915,
       0.80555032, 0.62570674, 0.67852427, 0.7278508 , 0.67005683,
       0.60045966, 0.68634427, 0.72025814, 0.94324112, 0.64332835,
       0.75570834, 0.84379053, 0.92665861, 0.6505685 , 0.59156795,
       0.86712091, 0.60599775, 0.79668377, 0.64402575, 0.4996293 ,
       0.53627147, 0.56119403, 0.47333584, 0.69663671, 0.75623777,
       0.79846148, 0.66853046, 0.94071963, 0.89330299, 0.87969315,
       0.75379202, 0.92965455, 0.46966432, 0.85819011, 0.69650997,
       0.77898492, 0.92534361, 0.90758313, 0.67717332, 0.48220873,
       0.71238988, 0.70399771, 0.78845526, 0.74260643, 0.71540256,
       0.53145349, 0.87960153, 0.53790899, 0.93706566, 0.63685034,
       0.68000753, 0.57846924, 0.60086857, 0.51025002, 0.72162029,
       0.58550921, 0.65850597, 0.48170327, 0.85307765, 0.63537031,
       0.65314513, 0.6284351 , 0.52016248, 0.83300528, 0.83675753,
       0.76291947, 0.61046088, 0.90029609, 0.88024749, 0.67616013,
       0.51815872, 0.41466555, 0.66732398, 0.57478506, 0.66867244,
       0.74030574, 0.83573291, 0.60457873, 0.63320781, 0.70944707,
       0.93743208, 0.71222452, 0.71386536, 0.80198465, 0.66045822])

In [458]:
y_test

array([0.34, 0.66, 0.86, 0.92, 0.91, 0.85, 0.84, 0.64, 0.74, 0.46, 0.81,
       0.74, 0.57, 0.61, 0.78, 0.61, 0.58, 0.9 , 0.65, 0.62, 0.62, 0.8 ,
       0.54, 0.85, 0.84, 0.96, 0.81, 0.82, 0.82, 0.97, 0.82, 0.88, 0.77,
       0.84, 0.92, 0.8 , 0.71, 0.62, 0.75, 0.76, 0.67, 0.74, 0.73, 0.96,
       0.62, 0.76, 0.87, 0.9 , 0.56, 0.47, 0.89, 0.65, 0.8 , 0.75, 0.44,
       0.56, 0.64, 0.47, 0.77, 0.71, 0.84, 0.66, 0.94, 0.9 , 0.92, 0.73,
       0.94, 0.49, 0.89, 0.7 , 0.69, 0.93, 0.94, 0.72, 0.57, 0.72, 0.52,
       0.66, 0.74, 0.77, 0.59, 0.93, 0.6 , 0.95, 0.59, 0.59, 0.52, 0.65,
       0.49, 0.79, 0.42, 0.76, 0.52, 0.83, 0.64, 0.67, 0.5 , 0.54, 0.82,
       0.9 , 0.72, 0.61, 0.89, 0.86, 0.71, 0.52, 0.46, 0.71, 0.65, 0.68,
       0.8 , 0.89, 0.64, 0.73, 0.78, 0.94, 0.76, 0.57, 0.82, 0.7 ])

In [459]:
from sklearn import metrics
metrics.r2_score(y_test,y_pred)*100 #Accuracy

80.83967294567633